  .btn1{
    width:160px;
    height: 30px;
    border-radius: 23px;
    border-width: 0px;
    background-color: rgb(248, 170, 44);
    color: white;
    font-size: 17px;
    font-weight: bold;
  }

  .cont{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }

  .para{
    font-size: 19px;
    font-family: roboto;
    font-weight: bold;
    color: rgb(31, 41, 231);
  }
  

  .head{
    font-size: 17px;
  }