.logo {
    height: 60px;
    width: 70px;
}

#nav-name1 {
    font-weight: bold;
}

#nav-name2 {
    font-weight: bold;
}

#nav-name3 {
    font-weight: bold;
}

#nav-name4 {
    font-weight: bold;
}

.banner-section {
    background-color: white;
    background-size: cover;

}

.delicious-heading {
    font-family: roboto;
    color: white;
    font-size: 25px;

}

.eat-smart-para {
    color: white;
    font-family: roboto;

}

.view-button {
    font-family: roboto;
    font-size: 13px;
    color: white;
    background-color: orange;
    border-radius: 9px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border-width: 0px;
}

.order-button {
    font-family: roboto;
    font-size: 13px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    border-color: black;
    border-width: 1px;

}

.cont-car {
    margin-top: 80px;
    
}

.carousel-section {
    background-color: white;


}

.new-starters {
    font-family: roboto;

}





.wcu-cont {
    background-color: #f9fbfe;

}

.why-head {
    font-size: 30px;
    font-weight: bold;
    font-family: roboto;
}

.why-para {
    font-family: roboto;

}

.food-service-cont {
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #F7F2F1;
    border-width: 3px;
    text-align: center;
}

.wcu-image {
    width: 65px;
    height: 75px;

}

.service-head {
    font-size: 20px;
    font-weight: bold;
}

.service-para {
    font-family: roboto;
}

.offer {
    font-weight: bold;
}

.explore-menu-cont {
    background-color: #f9fbfe;
}

.explore-heading {
    font-size: 28px;
    font-weight: bold;
    font-family: roboto;

}

.explore-card {
    background-color: white;
    border-radius: 16px;
}

.explore-image {
    border-radius: 16px;
}

.starters-name {
    font-size: 20px;
    font-family: roboto;

}

.fresh-healthy-cont {
    background-color: #f9fbfe;

}

.image-food-delicious {
    width: 100%;
}

.heading-of-cont {
    font-weight: bold;
    font-size: 28px;
}

.para-of-cont {
    font-family: Roboto;

}

.custom-button {
    border-radius: 9px;
    border-width: 0px;
    background-color: orange;
    height: 40px;
    width: 120px;
    color: white;
    margin-top: 16px;

}

.delivery-container {
    background-color: white;
}

.delivery-image {
    width: 270px;
}

.heading-section {
    font-size: 28px;
    font-family: roboto;
    font-weight: 700;

}

.paragraph-section {
    font-family: roboto;

}

.visa-img {
    height: 50px;
    width: 50px;
}

.thanking-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.heading-thanking-section {
    font-size: 28px;
    font-family: Roboto;
    font-weight: bold;

}

.thanking-para {
    font-family: Roboto;

}

.gift-image {
    width: 270px;

}

.modal-title {
    font-size: 25px;
    font-family: roboto;
    font-weight: bold;

}

.follow-section-cont {
    background-color: white;
    text-align: center;
}

.follow-heading {
    font-family: roboto;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.icon-container {
    width: 80px;
    height: 80px;
    padding-top: 22px;
    padding-bottom: 14px;
    background-color: black;
    padding-right: 16px;
    padding-left: 22px;
    margin: 15px;
    border-radius: 40px;


}

.icon {
    font-size: 35px;
    color: blue;

}

.logo-last-cont {
    background-color: black;
}

.logo-last-img {
    width: 120px;

}

.email {
    font-size: 20px;
    font-family: roboto;
    color: white;
}

.address-para {
    font-size: 16px;
    font-family: roboto;
    color: white;
}