 .tour{
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
   color:white;
   margin-left: 4px;

 }
 .vk{
  background-color: rgb(30, 255, 0);
  width: 34px;
 
  border-radius: 50%;
  padding-left: 2px;
   font-family:roboto;
   font-weight: bold;
    
   color: red;


  
 }
  
 .vkg{
  background-color: rgb(30, 255, 0);
  padding: 20px;
 
  border-radius: 50%;
  padding-left: 12px;
   font-family:roboto;
   font-weight: bold;
    
   color: red;


  
 }