 table,tr,th,td{
    border: solid 1px;
  border-collapse: collapse;

 }
 .tab{
    width: 100%;
    height: 250px;
    text-align: center;
 }
 .tik{
    border: solid 2px;
    color: red;
 }

 .head{
    font-size: 15px;
     color: black;
     text-transform: uppercase;
     font-family: roboto;
     border: solid 2px rgb(0, 64, 255);
     width: 10px;

 }

.data:hover{
    border: solid red;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-size: 19px;
}

.data1{
    border: solid red;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-size: 19px;
    width: 5px;
    
}