 .table,th,td{
    width: 100px;
    border: 2px solid;
    border-color: red;
    height: 55px;
     
 }
 .tab{
 
border-collapse: collapse;
 }
 td{
    text-align: center;
 }
th{
    height: 30px;
    text-transform: uppercase;
}
.tre{
    background-color: blue;
}
.tre3{
    background-color: green;
}